
.footer{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: #fff;
}
.footer img{
    padding: 0 20px;
}
.footer p{
    padding: 0 4px;
    color: #616161;
    margin: auto 10px;


}
.footer .copyright{
    border-left: 1px solid #0000001F;

}
.footer .company{
    font-weight: bold;
}